
<div class="ss"><a href="requests">Кол-во запросов в час</a></div>
<div class="ss"><a href="repeatedPurchases">Кол-во повторных покупок за определенный период</a></div>
<div class="ss"><a href="watchedCategories">Определить временной интервал( 0:00 - 6:00 / 6:00 - 12:00 / 12:00 - 18:00 / 18:00 - 24:00 ), в который наиболее часто просматривают категорию...</a></div>