<h4>Количество повторных покупок</h4>
<p>Введите даты от и до, определяющие период в формате 2018-08-05 13:10:47</p>
<form action="/repeatedPurchases" method="POST">
<input type="text" name="firstTime" style="height: 37.61px; width: 500px; margin-bottom: 10px">
<input type="text" name="lastTime" style="height: 37.61px; width: 500px; position: relative; top: 3px">  
<button type="submit" class="btn btn-primary">Send</button>
</form>