<h4>Посчитать кол-во запросов на сервер в течение астрономического часа</h4>
<p>Введите дату и время начала часа в формате 2018-08-05 13:11:48</p>
<form action="/requests" method="POST" style="width: 100%;">
<input type="text" name="time" id="" style="height: 37.61px; width: 500px; position: relative; top: 3px" >
<button type="submit" class="btn btn-primary">Send</button>
</form>