<h4>Определить временной интервал( 0:00 - 6:00 / 6:00 - 12:00 / 12:00 - 18:00 / 18:00 - 24:00 ), в который наиболее часто просматривают категорию...</h4>
<p>Введите название категории из списка</p>
<form action="/watchedCategories" method="POST">
<input type="text" name="category" style="height: 37.61px; width: 500px; position: relative; top: 3px">
<button type="submit" class="btn btn-primary">Send</button>
</form>
<br>
{{#each categories}}
<p>{{.}}</p>
{{/each}}